*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
   
    border-radius: 0;
}
.card{
    background-color: white;
    border: 2px solid #e3dede; 
    border-radius: 0; 
    padding: 20px;
    transition: box-shadow 0.3s ease;
    
}
.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  .card-title{
    color:#0d6efd;
  }

  .btn-legend {
    position: absolute;
    bottom: -20px; 
    left: 10px;   
    background-color: #6c757d; 
    border: none;
    border-radius: 3px; 
    color: #fff;
}

@media (max-width: 576px) {
  
  .card {
      margin-top: 60px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  
  .card {
      margin-top: 30px;
  }
}

@media (min-width: 769px) {
  
  .card {
      margin-top: 40px;
  }
}
